.container {
	width: 85%;
	margin: auto;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

@mixin easeOut {
	transition: all ease-out 0.5s;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1rem;
}

.text-primary {
	color: $primary-color;
}

.text-green {
	color: $green-color;
}

.text-brown {
	color: $brown-color;
}

.text-gold {
	color: $gold-color;
}

.text-shop-grey {
	color: $shop-grey-color;
}

.text-bconcept-brown {
	color: $bconcept-brown-color;
}

.text-acusa-purple {
	color: $acusa-purple-color;
}

.text-safepay-blue {
	color: $safepay-blue-color;
}

.btn {
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
	outline: none;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	@include easeOut();

	&-primary {
		border: 2px solid $primary-color;
		background-color: transparent;
		color: $primary-color;

		&:hover {
			background-color: $primary-color;
			color: $white-color;
		}
	}

	&-green {
		border: 2px solid $green-color;
		background-color: transparent;
		color: $green-color;

		&:hover {
			background-color: $green-color;
			color: $white-color;
		}
	}

	&-brown {
		border: 2px solid $brown-color;
		background-color: transparent;
		color: $brown-color;

		&:hover {
			background-color: $brown-color;
			color: $white-color;
		}
	}

	&-gold {
		border: 2px solid $gold-color;
		background-color: transparent;
		color: $gold-color;

		&:hover {
			background-color: $gold-color;
			color: $white-color;
		}
	}

	&-dark {
		border: 2px solid $dark-color;
		background-color: transparent;
		color: $dark-color;

		&:hover {
			background-color: $white-color;
			color: $dark-color;
		}
	}

	&-shop-grey {
		border: 2px solid $shop-grey-color;
		background-color: transparent;
		color: $shop-grey-color;

		&:hover {
			background-color: $shop-grey-color;
			color: $white-color;
		}
	}

	&-bconcept-brown {
		border: 2px solid $bconcept-brown-color;
		background-color: transparent;
		color: $bconcept-brown-color;

		&:hover {
			background-color: $bconcept-brown-color;
			color: $white-color;
		}
	}

	&-acusa-purple {
		border: 2px solid $acusa-purple-color;
		background-color: transparent;
		color: $acusa-purple-color;

		&:hover {
			background-color: $acusa-purple-color;
			color: $white-color;
		}
	}

	&-safepay-blue {
		border: 2px solid $safepay-blue-color;
		background-color: transparent;
		color: $safepay-blue-color;

		&:hover {
			background-color: $safepay-blue-color;
			color: $white-color;
		}
	}
}
